html,body
{
	height: 100%;
	margin: 0px;
	font-family: "Comic Sans MS", cursive, sans-serif;
	line-height: 200%;
	color: #fff;
	text-align: center;
}
.navbar
{
	background-color: #0001;
	opacity: 0.66;
	position: fixed;
	float: right;
	padding-left: 0px;
	padding-top: 0px;
}
.b:hover
{
	margin: 10px;
	background: #2196f3;
	box-shadow: 0 0 10px #2196f3, 0 0 20px #2196f3, 0 0 40px #2196f3, 0 0 80px #2196f3;
	transition: 0.4s;
}

li
{
	position: relative;
	padding-top: 100px;
}

#space
{
  float: left;
  font-size: 30px;

}
.a1
{
	background: url(welcome.jpg);
	min-height: 100%;
	background-repeat: no-repeat;
	position: relative;
	opacity: .80;
	background-position: center;
	background-attachment: fixed;
	margin-left: 100px;
}
.a2
{
	background: url(c++.jpg);
	min-height: 80%;
	background-repeat: no-repeat;
	position: relative;
	opacity: .80;
	background-position: center;
	background-size: cover;
	background-attachment: fixed;
	margin-left: 100px;
}
.a3
{
	background: url(history.jpg);
	min-height: 60%;
	background-repeat: no-repeat;
	position: relative;
	opacity: .80;
	background-position: center;
	background-size: cover;
	background-attachment: fixed;
	margin-left: 100px;
}
.a4
{
	background: url(continue.jpg);
	min-height: 100%;
	background-repeat: no-repeat;
	position: relative;
	opacity: .80;
	background-position: center;
	background-size: cover;
	background-attachment: fixed;
	margin-left: 100px;
}
a
{
	text-decoration: none;
	color: white;
}

.m
{
	margin-left: 100px;
}